<div class="container">
  <h1 class="mt-3">Add a Restaurant</h1>
  <%= render 'restaurants/form' %>
  <p class="back mt-3"><%= link_to(restaurants_path) do %>
      <i class="fas fa-undo"></i> Back
  <% end %></p>
</div>
